@charset "UTF-8";
/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
RESET
SHARED
CLEARFIX
MAIN
NAV
TYPE
IMAGES
CAROUSEL
TABLES
MISC
*/





/*------------------------------------*\
	$RESET
\*------------------------------------*/
/*
A more considered reset; more of a restart...
*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display:block;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
strong,b,mark{
	font-weight:bold;
	font-style:inherit;
}
em,i,cite,q,address,dfn,var{
	font-style:italic;
	font-weight:inherit;
}
abbr[title],dfn[title]{
	cursor:help;
	border-bottom:1px dotted;
}
ins{
	border-bottom:1px solid;
}
a,u,ins{
	text-decoration:none;
}
del,s{
	text-decoration:line-through;
}
pre,code,samp,kbd{
	font-family:monospace;
}
small{
	font-size:0.75em;
}
img{
	border:none;
	font-style:italic;
}
input,
select,option,optgroup,
textarea{
	font:inherit;
}





/*------------------------------------*\
	$SHARED
\*------------------------------------*/
h1,
a,
.source{
	color:#1382ab;
}
.btn,
.panel-copy,
.ribbon{
	color:#fff;
	background-color:#1382ab; /* Old browsers */
	background:-moz-linear-gradient(top, #19add6 0%, #1382ab 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#19add6), color-stop(100%,#1382ab)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #19add6 0%,#1382ab 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #19add6 0%,#1382ab 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, #19add6 0%,#1382ab 100%); /* IE10+ */
	background:linear-gradient(top, #19add6 0%,#1382ab 100%); /* W3C */
}
.btn{
	border:1px solid #1382ab;
}
h1,h2,h3,h4,h5,h6,
figure,
.btn{
	font:0.75em/2 "Helvetica Neue", Arial, sans-serif;
}
.btn{
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
.btn,
figure,
.carousel,
.ribbon{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
/* Common margin-bottom for vertical rhythm. */
h1,h2,h3,h4,h5,h6,
ul,ol,dl,
p,
table,
form,
figure,
pre,
hr,
.source,
.logo,
.carousel{
	margin-bottom:24px;
	margin-bottom:1.5rem;
}

/* Default indentation value for lists etc. */
ul,ol,dd{
	margin-left:1.5em;
}

label,
.text-input,
textarea,
.btn{
	cursor:pointer;
}
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus{
	cursor:text;
}





/*------------------------------------*\
	$CLEARFIX
\*------------------------------------*/
/*
Big up @necolas: http://nicolasgallagher.com/micro-clearfix-hack/
*/
.cf:before,
.cf:after{
	content:"";
	display:table;
}
.cf:after{
	clear:both;
}
.cf{
	zoom:1;
}





/*------------------------------------*\
	$MAIN
\*------------------------------------*/
html{
	font-family:Georgia, serif;
	overflow-y:scroll;
	line-height:1.5; /* A safe and comfortable default for body copy at any size. */
	background-color:#fff;
	color:#666;
}
body{
	max-width:640px;
	padding:0 5%;
	margin:0 auto;
}
.wrapper,
.footer{
	padding:5% 20px;
}
.wrapper{
	background-color:#fafafa; /* Old browsers */
	background:-moz-linear-gradient(top, #fafafa 0%, #eee 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eee)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #fafafa 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #fafafa 0%,#eee 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, #fafafa 0%,#eee 100%); /* IE10+ */
	background:linear-gradient(top, #fafafa 0%,#eee 100%); /* W3C */
}





/*------------------------------------*\
	$LOGO
\*------------------------------------*/
.logo,
.logo img{
	display:block;
	max-width:100px;
	max-height:100px;
	margin-right:auto;
	margin-left:auto;
}
.logo:hover{
	position:relative;
    -moz-animation:logo 1s linear infinite;
    -webkit-animation:logo 1s linear infinite;
	animation:logo 1s linear infinite;
}


@-moz-keyframes logo{
    0% 	 	{ top:0; left:0; }
	10%		{ top:3px; left:1px; }
	20%		{ top:1px; left:3px; }
	30%		{ top:-2px; left:2px; }
	40%		{ top:0; left:-1px; }
	50%		{ top:-1px; left:2px; }
	60%		{ top:1px; left:3px; }
	70%		{ top:0px; left:-1px; }
	80%		{ top:-2px; left:0; }
	90%		{ top:3px; left:1px; }
	100%	{ top:0; left:0; }
}

@-webkit-keyframes logo{
    0% 	 	{ top:0; left:0; }
	10%		{ top:3px; left:1px; }
	20%		{ top:1px; left:3px; }
	30%		{ top:-2px; left:2px; }
	40%		{ top:0; left:-1px; }
	50%		{ top:-1px; left:2px; }
	60%		{ top:1px; left:3px; }
	70%		{ top:0px; left:-1px; }
	80%		{ top:-2px; left:0; }
	90%		{ top:3px; left:1px; }
	100%	{ top:0; left:0; }
}

@keyframes logo{
    0% 	 	{ top:0; left:0; }
	10%		{ top:3px; left:1px; }
	20%		{ top:1px; left:3px; }
	30%		{ top:-2px; left:2px; }
	40%		{ top:0; left:-1px; }
	50%		{ top:-1px; left:2px; }
	60%		{ top:1px; left:3px; }
	70%		{ top:0px; left:-1px; }
	80%		{ top:-2px; left:0; }
	90%		{ top:3px; left:1px; }
	100%	{ top:0; left:0; }
}





/*------------------------------------*\
	$NAV
\*------------------------------------*/
.nav{
	list-style:none;
	margin-left:0;
}
.nav li{
	display:inline;
}
.nav a{
	display:inline-block;
}
.main-nav{
	text-align:center;
}
	.main-nav li:before{
		content:"| ";
		color:#ccc;
	}
	.main-nav li:first-child:before{
		content:"";
	}





/*------------------------------------*\
	$FOOTER
\*------------------------------------*/
.footer{
	color:#fff;
	background-color:#333;
}
	.footer > :last-child{
		margin-bottom:0;
	}





/*------------------------------------*\
	$TYPE
\*------------------------------------*/
/*--- HEADINGS ---*/
h1,h2,h3,h4,h5,h6{
	font-weight:bold;
	text-shadow:0 1px 0 rgba(255,255,255,1), 0 -1px 0 rgba(0,0,0,0.5);
}
h1,.alpha{
	font-size:48px;
	font-size:3rem;
	line-height:1;
}
h2,.beta{
	font-size:36px;
	font-size:2.25rem;
	line-height:1.33333333333333;
}
h3,.gamma{
	font-size:24px;
	font-size:1.5rem;
	line-height:1;
}
h4,.delta{
	font-size:20px;
	font-size:1.25rem;
	line-height:1.2;
}
h5,.epsilon{
	font-size:18px;
	font-size:1.125rem;
	line-height:1.33333333333333;
}
h6,.zeta{
	font-size:16px;
	font-size:1rem;
	line-height:1.5;
}

/*--- LINKS ---*/
a:hover{
	text-decoration:underline;
}

/*--- LISTS ---*/
li > ul,
li > ol{
	margin-bottom:0;
}

/*--- QUOTES ---*/
/*
Big up @boblet: http://html5doctor.com/blockquote-q-cite/
*/
q{ quotes:"‘" "’" "“" "”"; }

q:before{ content:"‘"; content:open-quote; }
q:after{ content:"’"; content:close-quote; }

q q:before{ content: "“"; content: open-quote; }
q q:after{ content: "”"; content: close-quote; }

blockquote{ quotes: "“" "”"; }
blockquote p:before{ content: "“"; content: open-quote; }
blockquote p:after{ content: ""; content: no-close-quote; }
blockquote p:last-of-type:after{ content: "”"; content: close-quote; }

blockquote{
	font-size:18px;
	font-size:1.125rem;
	line-height:1.333;
	font-style:italic;
	text-indent:-0.4em;
	margin-right:10%;
	margin-left:10%;
}
.source{
	font-weight:400;
	display:block;
	text-indent:1em;
	margin-top:-24px;
	margin-top:-1.5rem;
}
/* Move company name onto new line */
.source small{
	display:block;
}
blockquote,
.source small{
	color:#999;
}
mark{
	background-color:#ff8;
}





/*------------------------------------*\
	$FIGURES
\*------------------------------------*/
figure{
	float:left;
	margin-right:24px;
	border:1px solid #ccc;
	background-color:#fff;
	padding:2%;
}
.figure.right{
	margin-right:0;
	margin-left:24px;
}
	figure img{
		display:block;
		margin-bottom:0.75em;
	}
figcaption{
	border-top:1px solid #ccc;
}
	figcaption > :last-child{
		margin-bottom:0;
	}





/*------------------------------------*\
	$CAROUSEL
\*------------------------------------*/
.carousel{
    overflow:hidden;
    width:100%;
}
.panes{
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    width:500%; /* Number of panes * 100% */
    overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
     
    -moz-animation:carousel 100s linear infinite;
    -webkit-animation:carousel 100s linear infinite;
	animation:carousel 100s linear infinite;
}
	/*.panes:hover{
		-moz-animation-play-state:paused;
		-webkit-animation-play-state:paused;
		animation-play-state:paused;
	}*/
.panes > li{
    position:relative;
    float:left;
    width:20%; /* 100 / number of panes */
}
.carousel img{
    display:block;
    width:100%;
    max-width:100%;
}
.panel-copy{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:66.666%;
	padding:2%;
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.2);
	box-shadow:0 0 10px rgba(0,0,0,0.2);
}
.panel-copy,
.panel-copy a{
	color:#fff;
}

@-moz-keyframes carousel{
    0% 	 	{ left:0; }
	10%		{ left:0; }
	12%		{ left:-100%; }
	22%		{ left:-100%; }
	24%		{ left:-200%; }
	34%		{ left:-200%; }
	36%		{ left:-300%; }
	46%		{ left:-300%; }
	48%		{ left:-400%; }
	58%		{ left:-400%; }
	60%		{ left:-300%; }
	70%		{ left:-300%; }
	72%		{ left:-200%; }
	82%		{ left:-200%; }
	84%		{ left:-100%; }
	94%		{ left:-100%; }
	100%	{ left:0; }
}

@-webkit-keyframes carousel{
    0% 	 	{ left:0; }
	10%		{ left:0; }
	12%		{ left:-100%; }
	22%		{ left:-100%; }
	24%		{ left:-200%; }
	34%		{ left:-200%; }
	36%		{ left:-300%; }
	46%		{ left:-300%; }
	48%		{ left:-400%; }
	58%		{ left:-400%; }
	60%		{ left:-300%; }
	70%		{ left:-300%; }
	72%		{ left:-200%; }
	82%		{ left:-200%; }
	84%		{ left:-100%; }
	94%		{ left:-100%; }
	100%	{ left:0; }
}

@keyframes carousel{
    0% 	 	{ left:0; }
	10%		{ left:0; }
	12%		{ left:-100%; }
	22%		{ left:-100%; }
	24%		{ left:-200%; }
	34%		{ left:-200%; }
	36%		{ left:-300%; }
	46%		{ left:-300%; }
	48%		{ left:-400%; }
	58%		{ left:-400%; }
	60%		{ left:-300%; }
	70%		{ left:-300%; }
	72%		{ left:-200%; }
	82%		{ left:-200%; }
	84%		{ left:-100%; }
	94%		{ left:-100%; }
	100%	{ left:0; }
}





/*------------------------------------*\
	$RIBBON
\*------------------------------------*/
.ribbon{
	margin-left:-30px;
	padding:0.75em 30px;
	position:relative;
	
	-moz-border-radius:2px 2px 2px 0;
	-webkit-border-radius:2px 2px 2px 0;
	border-radius:2px 2px 2px 0;
	-moz-box-shadow:3px 3px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow:3px 3px 0 rgba(0,0,0,0.1);
	box-shadow:3px 3px 0 rgba(0,0,0,0.1);
}
.ribbon:before{
	content:"";
	width:0;
	height:0;
	position:absolute;
	top:100%;
	left:0;
	border:5px solid;
	border-color:#2a728c #2a728c transparent transparent;
}





/*------------------------------------*\
	$IMAGES
\*------------------------------------*/
img{
	max-width:100%;
	height:auto;
	font-style:italic;
}





/*------------------------------------*\
	$TABLES
\*------------------------------------*/
table{
	width:100%;
}





/*------------------------------------*\
	$RESPONSIVE
\*------------------------------------*/
@media(min-width: 480px){
h1,h2,h3,h4,h5,h6,
blockquote{
	font-family:chaparral-pro-1,chaparral-pro-2,"Chaparral Pro",Georgia,sans-serif;
	font-weight:700;
}
blockquote{
	font-weight:400;
}
}





/*------------------------------------*\
	$MISC
\*------------------------------------*/
.accessibility{ position:absolute; left:-99999px; }
.left	{ float:left; }
.right	{ float:right; }
::selection			{ background-color:#1382ab; color:#fff; }
::-moz-selection	{ background-color:#1382ab; color:#fff; }
hr{
	height:0;
	padding:0;
	border:1px solid rgba(0,0,0,0.1);
	border-bottom-color:rgba(255,255,255,0.1);
}
.btn{
	display:inline-block;
	padding:0.5em 1em;
	color:#fff;
}
	.btn:hover{
		text-decoration:none;
	}