/*------------------------------------*\
	RESET
\*------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{ 
	border:0;
}
address,caption,cite,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}





/*------------------------------------*\
	MAIN
\*------------------------------------*/
html{
	height:101%;
	font-family:"ff-enzo-web-1","ff-enzo-web-2", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	background:url(../img/css/bg.jpg) bottom left no-repeat fixed #fff;
	color:#666;
	padding:0 10px 10px 10px;
}
#content{
	width:340px;
	float:right;
	background:url(../img/css/grid.png) 10px top rgba(255,255,255,0.5);
	background:rgba(255,255,255,0.5);
	padding:10px;
	clear:both;
}





/*------------------------------------*\
	HEADER
\*------------------------------------*/
#header{
	padding:10px;
	border-bottom:1px solid #00aeef;
	overflow:hidden;
	margin-bottom:50px;
	background:url(../img/css/trans.png);
}
#nav{
	list-style:none;
	float:right;
	font-size:1.125em;
	text-transform:lowercase;
	margin:0;
}
#nav a{
	text-decoration:none;
	line-height:1.5em;
	font-weight:600;
	color:#656565;
}
#nav a:hover{
	color:#00aeef;
}
#home .nav-home a,
#about .nav-about a,
#portfolio .nav-portfolio a{
	color:#00aeef;
	cursor:text;
}





/*------------------------------------*\
	TYPE
\*------------------------------------*/
/* HEADINGS */
h1,h2,h3,h4,h5,h6{
	font-weight:600;
	margin-bottom:20px;
}
hgroup{
	display:block;
	margin-bottom:20px;
}
hgroup *{
	margin:0;
}
h1{
	font-size:24px;
	color:#00aeef;
}
h2{
	font-size:20px;
}
hgroup h2{
	font-style:italic;
}
h3{
	font-size:18px;
}
h4{
	font-size:16px;
}
h5,h6{
	font-size:14px;
}

/*--- PARAGRAPHS ---*/
p{
	line-height:1.5em;
	margin-bottom:20px;
}
p.intro{
	-moz-column-count:2;
	-moz-column-gap:20px;
	padding:20px 0;
	border:1px solid #ccc;
	border-width:1px 0;
}

/*--- LISTS ---*/
ul,ol{
	margin-bottom:20px;
}
li{
	line-height:1.5em;
}

/*--- LINKS ---*/
a{
	color:#00aeef;
	-moz-transition:color 0.2s linear;
	-webkit-transition:color 0.2s linear;
	transition:color 0.2s linear;
}
a:hover{
	text-decoration:underline;
}
a:active,
a:focus{
	position:relative;
	top:1px;
	outline:none;
}
#email{
	width:32px;
	height:32px;
	display:block;
	background-image:url(../img/css/mail.png);
	background-color:#aaa;
	text-decoration:none;
	position:relative;
	clear:both;
	float:right;
	right:15px;
	-moz-transition:background-color 0.5s linear;
	-webkit-transition:background-color 0.5s linear;
	transition:background-color 0.5s linear;
}
#email:hover{
	background-color:#00aeef;
}
#email span{
	font-size:0.75em;
	display:block;
	padding:5px;
	white-space:nowrap;
	background:#00aeef;
	color:#fff;
	position:absolute;
	bottom:100%;
	left:-99999px;
	right:auto;
	opacity:0;
	text-shadow:1px 1px rgba(0,0,0,0.25);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-transition:opacity 0.5s linear;
	-webkit-transition:opacity 0.5s linear;
	transition:opacity 0.5s linear;
}
#email:hover span{
	right:-16px;
	left:auto;
	opacity:1;
}





/*------------------------------------*\
	GALLERY
\*------------------------------------*/
#gallery{
	width:360px;
	margin:0 0 50px -20px;
	list-style:none;
	overflow:hidden;
}
#home #gallery{
	margin:0 0 0 -20px;
}
#gallery a{
	display:block;
	float:left;
	width:90px;
	height:90px;
	margin:0 0 20px 20px;
	border:5px solid #e4e4e4;
	-moz-transition:border 0.2s linear;
	-webkit-transition:border 0.2s linear;
	transition:border 0.2s linear;
}
#gallery a:hover{
	border:5px solid #00aeef;
}
#gallery img{
	width:90px;
	height:90px;
}





/*------------------------------------*\
	FORMS
\*------------------------------------*/
fieldset{
	border:1px solid #ccc;
	padding:10px 10px 0 10px;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
form p{
	margin-bottom:10px;
}
small{
	font-family:Arial, sans-serif;
}
label{
	display:block;
	cursor:pointer;
}
input,
textarea{
	font-family:"ff-enzo-web-1","ff-enzo-web-2", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif!important;
	font-size:1em;
	color:#666;
}
.text-input,
textarea{
	padding:5px;
	background:#fff;
	border:2px solid #ccc;
	width:220px;
	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
textarea{
	width:340px;
}
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus{
	border:2px solid #00aeef;
	outline:none;
}
#submit{
	font-weight:600;
	padding:5px;
	background:#fff;
	cursor:pointer;
	border:2px solid #ccc;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#submit:hover{
	border:2px solid #00aeef;
}





/*------------------------------------*\
	MEDIA-QUERIES
\*------------------------------------*/
@media (min-width: 481px) and (max-width: 1200px){
html{
	-moz-background-size:auto 80%;
	-webkit-background-size:auto 80%;
	background-size:auto 80%;
}
}





/*------------------------------------*\
	MISC
\*------------------------------------*/
#butterfly{
	display:block;
	background:url(../img/css/butterfly.png);
	width:25px;
	height:18px;
	position:fixed;
	left:45%;
	bottom:14%;
	-webkit-animation-name:butterfly;
	-webkit-animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
@-webkit-keyframes butterfly{
	0%{
		bottom:14%;
	}
	20%{
		bottom:13.6%;
	}
	40%{
		bottom:13.35%;
	}
	60%{
		bottom:13.6%;
	}
	80%{
		bottom:13.85%;
	}
	100%{
		bottom:14%;
	}
}
::selection			{ background:#00aeef; color:#fff; }
::-moz-selection	{ background:#00aeef; color:#fff; }